
/* Fonts */
@font-face {
    font-family: "PixelGames";
    src: url('../common/fonts/PixelGames.ttf')  format('truetype');
}

/* General */
.w-40 { width: 40%;}
.w-60 { width: 60%;}

.col {
    display: flex;
    flex-direction: column;
}

/* Display */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 5em;
}

h1 {
    font-size: 4.5rem;
}

@media (max-width: 1100px) {
    body {
	font-size: 3rem;
    }
    h1 {
	font-size: 9rem;
    }
}

.game-display {
    display: flex;
    width: calc(min(36em,60%));
    margin: auto;
    margin-top: 5em;
}

@media (max-width: 1100px) {
    .game-display {
	width: unset;
	margin-top: 2em;
    }
}


#left-data,
.buttons {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

#btn-play,
#btn-music {
    width: 3.5em;
    height: 3.5em;
}
#btn-play:hover,
#btn-music:hover {
    scale: 1.2;
    opacity: 0.9;
}

.info {
    display: grid;
    grid-template-areas:
	"score-text score-value" "lines-text lines-value" "level-text level-value";
    grid-column-gap: 1em;
}

.preview-grid,
.grid {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    height: 500px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.grid div,
.preview-grid div {
    height: 25px;
    width:  25px;
}

.preview-grid {
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.block-shape,
.block-bottom,
.block-frozen {
    height: 23px !important;
    width:  23px !important;
}

@media (max-width: 1100px) {
    
    .grid {
	height: 1000px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
    }

    .grid div,
    .preview-grid div {
	height: 50px;
	width:  50px;
    }

    .preview-grid {
	height: 200px;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
    }

    .block-shape,
    .block-bottom,
    .block-frozen {
	height: 48px !important;
	width:  48px !important;
    }

}


/* Styling */

a {
    color: darkcyan;
    text-decoration: none;
}
a:hover {
    opacity: 50%;
}

#main-title,
#subtitle {
    text-align: center;
}

#main-title {
    font-family: "PixelGames";
    margin: 0;
}

.info {
    font-family: "PixelGames";
    font-size: 2em;
}

@media (max-width: 1100px) {
    .info {
	font-size: 1em;
    }
}

.grid,
.preview-grid {
    background-color: yellow;
    border-style: hidden;
    border-radius: 10px;
}

.block-shape,
.block-bottom,
.block-frozen {
    border-radius: 0.3em !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.block-shape {
    background-color: blue !important;
    border-color: lightblue !important;
}

.block-bottom {
    background-color: purple !important;
    border-color: pink !important;
}

.block-frozen {
    background-color: green !important;
    border-color: lightgreen !important;
}
